force-app/main/default/flows/Campaign_Lead_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_single_ad</name>
        <label>assign single ad</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>utm_campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Utm_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Referer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_referer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Referer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_referer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_single_campaign_member</name>
        <label>assign single campaign member</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>assign_campaign_member.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen23</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_Lead</name>
        <label>Assign single Lead</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>assign_Lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAME.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAME.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ADDRESS.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ADDRESS.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ADDRESS.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ADDRESS.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EMAIL.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Ad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assign_Ad.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>lead company</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_single_ad</name>
        <label>Copy 1 of assign single ad</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>utm_campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Utm_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Referer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_referer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Referer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_referer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_ad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_single_Lead</name>
        <label>Copy 1 of Assign single Lead</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>assign_Lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_NAME.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_NAME.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_ADDRESS.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_ADDRESS.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_ADDRESS.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_ADDRESS.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_EMAIL.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Ad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assign_Ad.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>lead company</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Check</name>
        <label>Campaign Check</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_assign_single_ad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_single_ad</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Campaign Lead Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Campaign Lead Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_ad</name>
        <label>Copy 1 of Create ad</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Copy_1_of_Contact_Form</targetReference>
        </connector>
        <inputReference>assign_Ad</inputReference>
    </recordCreates>
    <recordCreates>
        <description>It will create a lead</description>
        <name>Copy_1_of_Create_Lead</name>
        <label>Copy 1 of Create Lead</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Copy_1_of_screen23</targetReference>
        </connector>
        <inputReference>assign_Lead</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_ad</name>
        <label>Create ad</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Contact_Form</targetReference>
        </connector>
        <inputReference>assign_Ad</inputReference>
    </recordCreates>
    <recordCreates>
        <description>It will create a lead</description>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>assign_single_campaign_member</targetReference>
        </connector>
        <inputReference>assign_Lead</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaigns</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>utm_source</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact_Form</name>
        <label>Contact Form</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_single_Lead</targetReference>
        </connector>
        <fields>
            <name>Display_Form_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Contact Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TEST</name>
            <fieldText>&lt;p&gt;{!utm_source}&lt;/p&gt;&lt;p&gt;{!utm_campaign}&lt;/p&gt;&lt;p&gt;{!utm_content}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Utm_id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!utm_medium}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!utm_referer}&lt;/p&gt;&lt;p&gt;{!utm_term}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NAME</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EMAIL</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ADDRESS</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Contact_Form</name>
        <label>Copy 1 of Contact Form</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_single_Lead</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Display_Form_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Contact Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_TEST</name>
            <fieldText>&lt;p&gt;{!utm_source}&lt;/p&gt;&lt;p&gt;{!utm_campaign}&lt;/p&gt;&lt;p&gt;{!utm_content}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Utm_id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!utm_medium}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!utm_referer}&lt;/p&gt;&lt;p&gt;{!utm_term}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_NAME</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_EMAIL</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_ADDRESS</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_screen23</name>
        <label>Copy 1 of screen23</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_closing</name>
            <fieldText>&lt;p&gt;Thank you for your interest.(No)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen23</name>
        <label>screen23</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>closing</name>
            <fieldText>&lt;p&gt;Thank you for your interest.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>assign_Ad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ad__c</objectType>
    </variables>
    <variables>
        <name>assign_campaign_member</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>assign_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>utm_campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_content</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>will store utm data</description>
        <name>Utm_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_medium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_referer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_term</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
